# Ignore all files in the .idea folder
.idea/*


# Keep this specific file in .idea folder (if needed)
!.gitignore

# Ignore these target files

Hotel-MGMT/target/*
Rating-Service/target/*
User-Services/target/*

/.idea/

