# Ignore all files in the .idea folder
.idea/*


# Keep this specific file in .idea folder (if needed)
!.gitignore
/User-Services/target/
/ServiceRegistry/target/
/Rating-Service/target/
/Hotel-MGMT/target/
